    * {
    margin: 0;
    background-image
    box-sizing: border-box;
    }

@supports (grid-area: auto) {
    .main {
        display: grid;
        grid-template-columns: 1fr 418px;
        grid-template-rows: auto;
        grid-template-areas:
            "desc links" 
            "gallery gallery";
        margin: 2em;
        max-width: 100%;
    }
    .header {
        text-align: center;
        font-size: 5em;
    }
    .nav {
        font-size: 30px;
    }
    .description {
        grid-area: desc;
        text-align: left;
        padding: .5em;
        
    }
    .description img{
        width: auto;
        height: 25%;
    }
    .links {
        grid-area: links;
        display: grid;
        grid-template-areas: 1fr 1fr 1fr;
        border: 3px solid dimgrey;
        border-radius: 25px;
        padding-left: 10px;
    }
    .access {
        align-self: center;  
    }
    .features {
        align-self: center;        
    }
    .transit {
        align-self: center;
    }
    .about {
        text-align: center;
                background-image: url("../images/gpt.png");
        background-repeat: repeat;
        border-radius: 25px;
    }
    .gallery {
        grid-area: gallery;        
    }
    .home .gallery {
        background-image: url("../images/gpt.png");
        background-repeat: repeat;
        border-radius: 25px;
    }
    .gallery img{
        height: auto;
        width: auto;
        border-radius: 25px;
    }
    .gallery h2 {
        text-align: center;
    }
    .art1 {
        grid-area: art1;

    }
    .art2 {
        grid-area: art2;
    }
    .art3 {
        grid-area: art3;
    }
    .art4 {
        grid-area: art4;
    }
    .dc1 {
        grid-area: dc1;

    }
    .dc2 {
        grid-area: dc2;
    }
    .dc3 {
        grid-area: dc3;
    }
    .dc4 {
        grid-area: dc4;
    }
    .footer {
        text-align: right;
    }
    
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

    li {
    float: center;
    }

    li a {
    display: block;
    color: darkgreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

    li a:hover {
    background-color: #284;
    }
}

/* MEDIA QUERIES */

@media (min-width: 600px) {
        .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            ". dc1 .."
            ". art1 ."
            ". dc2 .."
            ". art2 ."
            ". dc3 .."
            ". art3 ."
            ". dc4 .."
            ". art4 .";
        margin: 1em;
    }
    .gallery img {
        height: 18em;
    }
     li {
    float: left;
    }

}

@media (max-width: 600px) {
        .main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "desc" 
            "links" 
            "gallery";
        margin: 2em;
    }
        .home .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            ". dc1 .."
            ". art1 ."
            ". dc2 .."
            ". art2 ."
            ". dc3 .."
            ". art3 ."
            ". dc4 .."
            ". art4 .";
        margin: 1em;
    }
    .gallery img {
        height: 12em;
    }
    .header {
        font-size: 2em;
    }
    li a {
        font-size: .75em;
    }
    
    
}
        