    * {
    margin: 0;
    background-color: #6cbf71;
    }

@supports (grid-area: auto) {
    .main {
        display: grid;
        grid-template-columns: 1fr 418px;
        grid-template-rows: 250px 1fr 50px;
        margin: 5%;
        grid-template-areas:
            "desc links" 
            "gallery gallery";
        max-width: 100%;
    }
    .header {
        text-align: center;
        font-size: 5em;
    }
    .nav {
        font-size: 30px;
    }
    .description {
        grid-area: desc;
        text-align: left;
        font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
        line-height: 1.2em;
        padding: .5em;
    }
    .description img{
        width: auto;
        height: 25%;
    }
    .links {
        grid-area: links;
        display: grid;
        grid-template-areas: 1fr 1fr 1fr;
    }
    .access {
        align-self: center;  
    }
    .features {
        align-self: center;        
    }
    .transit {
        align-self: center;
    }
    .gallery {
        grid-area: gallery;
    }
    .gallery img{
        height: 480px;
    }
    .footer {
        margin: 5%;
    }
    
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: center;
}

li a {
    display: block;
    color: darkgreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}